# Assignment on Random Forest

In [9]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor 
from sklearn import tree
from sklearn import datasets
from sklearn import metrics

In [10]:
boston = datasets.load_boston()
features = pd.DataFrame(boston.data,columns=boston.feature_names)
targets = boston.target

In [11]:
features

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [12]:
features.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [13]:
features.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

We want to predict price of the houses,so we will add new column to dataframe named 'PRICE'

In [14]:
features['PRICE'] = boston.target

In [15]:
features.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [21]:
y=features['PRICE']

In [22]:
X= features.drop('PRICE', axis=1)

# Split the data into training and test sets

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 25)
X_scaler = StandardScaler() 
X_train = X_scaler.fit_transform(X_train)
X_test = X_scaler.transform(X_test)
y_scaler = StandardScaler() 
y_train=np.array(y_train)
y_train = y_scaler.fit_transform(y_train[:, None])[:, 0] 
y_test=np.array(y_test)
y_test = y_scaler.transform(y_test[:, None])[:, 0]

Since we have to predic on continous variables we will use randomforestregressor

In [43]:
newmodel = RandomForestRegressor() 
newmodel.fit(X_train, y_train) 
RandomForestRegressor(bootstrap=True, criterion='mse', max_features='auto',  min_samples_leaf=1, min_samples_split=2,  n_estimators=10,   random_state=25) 

print("Test Accuracy:", format(metrics.r2_score(y_test, y_pred) * 100, '.2f'), '%') 
print("Mean Squared Error:", format(metrics.mean_squared_error(y_test, y_pred), '.5f'))

Test Accuracy: 86.26 %
Mean Squared Error: 0.11722

In [47]:
y_pred = newmodel.predict(X_test)

In [45]:
y_pred[0:20]

array([-0.26005018, -0.3347539 ,  0.09293025, -1.6366419 , -0.50714711,
        0.16582491,  0.8447562 , -0.78904194, -1.10828863,  2.19793649,
       -0.8044722 , -0.69752455, -0.39115415, -0.13426698,  0.95659895,
       -0.23163722,  0.41387958, -1.54810415, -1.46286528,  0.24797772])